<table datatable [dtOptions]="dtOptions[0]" class="row-border hover">
  <thead>
    <tr>
      <th>MaHS</th>
      <th>Quantity</th>
      <th>Dongia HD</th>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody *ngIf="persons?.length != 0">
      <tr *ngFor="let person of persons">
          <td>{{ person.maHS }}</td>
          <td>{{ person.quantity }}</td>
          <td>{{ person.donGiaHd }}</td>
          <td>{{ person.item }}</td>
          <td>{{ person.quantity }}</td>
      </tr>
  </tbody>
  <tbody *ngIf="persons?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  <tbody>
</table>