<nb-card id="GoToTop">
    <nb-card-body>
        <nb-stepper orientation="horizontal" [disableStepNavigation]="this.issueFormGroup.value?.currentStep != 'Close'" #step
            stepper-step-index-border-width="50px">
            <nb-step [label]="labelOne">
                <ng-template #labelOne><span style="padding-top:50px;" (click)="clickStep('openIssue')">OPEN
                        ISSUE</span>
                </ng-template>
            </nb-step>
            <nb-step [label]="labelTwo">
                <ng-template #labelTwo><span style="padding-top:50px;" (click)="clickStep('caca')">CONTAINMENT ACTION /
                        CAUSE ANALYSIS</span>
                </ng-template>
            </nb-step>
            <nb-step [label]="laberThree">
                <ng-template #laberThree><span style="padding-top:50px;" (click)="clickStep('capa')">CORRECTIVE &
                        PREVENTIVE ACTIONS</span></ng-template>
            </nb-step>
            <nb-step [label]="labelFour">
                <ng-template #labelFour><span style="padding-top:50px;" (click)="clickStep('close')">VERIFY &
                        CLOSE</span></ng-template>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="currentStatus == 'openIssue'" accent="info" [nbSpinner]="loading" nbSpinnerStatus="primary"
    nbSpinnerSize="large">
    <nb-card-header>
        Problem Description
    </nb-card-header>
    <nb-card-body>
        <br>
        <form [formGroup]="issueFormGroup" autocomplete="off">
            <div class="row">
                <div class="col-sm-2">
                    <!-- <nb-select placeholder="Info" status="info" placeholder="Select Showcase"
                        [(selected)]="commonSelectedItem">
                        <nb-option value="1">OBA</nb-option>
                        <nb-option value="2">IT</nb-option>
                        <nb-option value="4">Scrap</nb-option>
                    </nb-select> -->
                    <input *ngIf="issueFormGroup.value.processType" type="text" status="info" nbInput
                        id="inputFirstName" formControlName="processType">
                    <nb-select *ngIf="!issueFormGroup.value.processType" placeholder="Select Process"
                        (selectedChange)="changeProcess($event)">
                        <nb-option *ngFor="let process of listProcess" [value]="process"> {{
                            process.processName }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <input
                            [status]="(issueFormGroup.controls.rpn.invalid && (issueFormGroup.controls.rpn.dirty || issueFormGroup.controls.rpn.touched)) ? 'danger' : 'info'"
                            #inputPRN min="50" type="number" nbInput fullWidth id="inputFirstName" formControlName="rpn"
                            placeholder="RPN">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input type="text" nbInput fullWidth id="inputFirstName" formControlName="issueNo"
                            placeholder="Issue No">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="text" nbInput fullWidth id="inputFirstName" formControlName="title"
                            placeholder="Issue Title">
                    </div>
                </div>
                <div class="col-sm-2 text-center" *ngIf="IssueTitleIndex > 0">
                    <button nbButton outline status="info">Repeated Symptom: &nbsp;
                        <b>{{ IssueTitleIndex}}</b></button>
                </div>
                <div class="col-sm-1 text-center" *ngIf="inputPRN.value >= 50">
                    <button nbButton outline [status]="inputPRN.value >= 100 ? 'danger' : 'warning'"
                        (click)="showIssueOpen()">
                        {{inputPRN.value >= 100 ? ' Critical ' : ' Major '}}</button>
                </div>
            </div>
        </form>
        <hr>
        <!-- Show Input By Process -->
        <!-- OBA Table -->
        <div *ngIf="currentProcess != null && currentProcess.refTable.includes('tbl_OBA')">
            <p>OBA Information</p>
            <form [formGroup]="obaFormGroup" autocomplete="off">
                <div class="row">
                    <div class="col-sm-2">
                        <!-- <div class="form-group">
                            <label for="inputDetectingDate" class="label">Detected Date</label>
                            <input [nbDatepicker]="inputDetectingDate" [(ngModel)]="obaFormGroup.value.detectingDate"
                                nbInput fullWidth id="inputDetectingDate" placeholder="Choose Date"
                                formControlName="detectingDate">
                            <nb-datepicker #inputDetectingDate></nb-datepicker>
                        </div> -->
                        <label for="inputDetectingDate" class="label">Detected Date</label>
                        <nb-form-field>
                            <input #dateInput [nbDatepicker]="inputDetectingDate"
                                [status]="(obaFormGroup.controls.detectingDate.invalid && (obaFormGroup.controls.detectingDate.dirty || obaFormGroup.controls.detectingDate.touched)) ? 'danger' : 'info'"
                                [(ngModel)]="obaFormGroup.value.detectingDate" nbInput fullWidth id="inputDetectingDate"
                                placeholder="Choose Date" formControlName="detectingDate">
                            <nb-icon nbSuffix icon="calendar-outline" style="color: #5d5d5d;" pack="eva"
                                (click)="dateInput.click()"></nb-icon>
                            <nb-datepicker #inputDetectingDate></nb-datepicker>
                        </nb-form-field>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputDetectingTime" class="label">Detected Time</label>
                            <input
                                [status]="(obaFormGroup.controls.detectingTime.invalid && (obaFormGroup.controls.detectingTime.dirty || obaFormGroup.controls.detectingTime.touched)) ? 'danger' : 'info'"
                                type="time" nbInput fullWidth id="inputDetectingTime" placeholder="00:00"
                                class="form-control" formControlName="detectingTime">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label for="inputSamplingQty" class="label">Sampling Qty</label>
                            <input type="number" min="0" nbInput fullWidth id="inputSamplingQty" class="form-control"
                                formControlName="samplingQty">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label for="inputNGOrdinal" class="label">NG Ordinal</label>
                            <input type="text" nbInput fullWidth id="inputNGOrdinal" placeholder="NG Ordinal"
                                class="form-control" formControlName="ngphoneOrdinal">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputDefectPart" class="label">Defect Part</label>
                            <nb-select
                                [status]="(obaFormGroup.controls.defectPart.invalid && (obaFormGroup.controls.defectPart.dirty || obaFormGroup.controls.defectPart.touched)) ? 'danger' : 'info'"
                                class="form-control" id="inputDefectPart" formControlName="defectPart"
                                (ngModelChange)="updateIssueTitle()" placeholder="Select Part">
                                <nb-option *ngFor="let drop of listDefectPart" [value]="drop.value">{{drop.value}}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputDefectName" class="label">Defect Name</label>
                            <nb-select
                                [status]="(obaFormGroup.controls.defectName.invalid && (obaFormGroup.controls.defectName.dirty || obaFormGroup.controls.defectName.touched)) ? 'danger' : 'info'"
                                class="form-control" id="inputDefectName" formControlName="defectName"
                                (ngModelChange)="updateIssueTitle()" placeholder="Select Name">
                                <nb-option *ngFor="let drop of listDefectName" [value]="drop.value">{{drop.value}}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputDefectType" class="label">Defect Type</label>
                            <nb-select
                                [status]="(obaFormGroup.controls.defectType.invalid && (obaFormGroup.controls.defectType.dirty || obaFormGroup.controls.defectType.touched)) ? 'danger' : 'info'"
                                class="form-control" id="inputDefectType" formControlName="defectType"
                                (ngModelChange)="updateIssueTitle()" placeholder="Select Type">
                                <nb-option *ngFor="let drop of listDefectType" [value]="drop.value">{{drop.value}}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
        </div>
        <div *ngIf="currentProcess != null && currentProcess.refTable.includes('tbl_Product')">
            <p>Product Information</p>
            <form [formGroup]="productFormGroup" autocomplete="off">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputIMEI" class="label">IMEI</label>
                            <!-- <input type="text" nbInput fullWidth id="inputIMEI" placeholder="Input/Scan IMEI"
                                class="form-control" formControlName="imei"> -->
                            <nb-form-field>
                                <input #imei
                                    [status]="(productFormGroup.controls.imei.invalid && (productFormGroup.controls.imei.dirty || productFormGroup.controls.imei.touched)) ? 'danger' : 'info'"
                                    type="text" nbInput fullWidth id="inputIMEI" placeholder="Input/Scan IMEI"
                                    class="form-control" formControlName="imei">
                                <button *ngIf="imei.value.length === 15" nbSuffix nbButton ghost
                                    (click)="getInforByIMEI(imei.value)">
                                    <nb-icon icon="flash-outline" pack="eva">
                                    </nb-icon>
                                </button>
                            </nb-form-field>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputCustomer" class="label">Customer</label>
                            <input type="text" (ngModelChange)="updateIssueNo();updateIssueTitle()" nbInput fullWidth
                                id="inputCustomer" placeholder="Input Customer" class="form-control"
                                formControlName="customer">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputProduct" class="label">Product</label>
                            <input type="text" nbInput fullWidth id="inputProduct" placeholder="Input Product"
                                class="form-control" formControlName="product">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputPon" class="label">Pon</label>
                            <input type="text" nbInput fullWidth id="inputPon" placeholder="Input Pon"
                                class="form-control" formControlName="ponno">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputPonSize" class="label">Pon Size</label>
                            <input type="text" nbInput fullWidth id="inputPonSize" placeholder="Input Pon Size"
                                class="form-control" formControlName="ponsize">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputPSN" class="label">PSN</label>
                            <input type="text" nbInput fullWidth id="inputPSN" placeholder="Input PSN"
                                class="form-control" formControlName="psn">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputSPCode" class="label">SPCode</label>
                            <input type="text" nbInput fullWidth id="inputSPCode" placeholder="Input SP Code"
                                class="form-control" formControlName="spcode">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputLine" class="label">Line</label>
                            <input type="text" nbInput fullWidth id="inputLine" placeholder="Input Line"
                                class="form-control" formControlName="line">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputShift" class="label">Shift</label>
                            <input type="text" nbInput fullWidth id="inputShift" placeholder="Input Shift"
                                class="form-control" formControlName="shift">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputPattern" class="label">Pattern</label>
                            <nb-select class="form-control" id="inputPattern" formControlName="pattern"
                                placeholder="Input Pattern">
                                <nb-option *ngFor="let drop of listPattern" [value]="drop.value">{{drop.value}}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
        </div>
        <p>Detail Description - <i>{{issueFormGroup.value.createdDate | date: 'yyyy/MM/dd HH:mm' }}</i></p>
        <div class="row">
            <div class="col-md-9">
                <ngx-tiny-mce *ngIf="issueFormGroup.value.failureDesc"
                    [rickText]="issueFormGroup.value.failureDesc" (editorKeyup)="updateRickText($event)"></ngx-tiny-mce>
            </div>
            <div class="col-md-3">
                <ngx-upload-file [issueId]="IssueID" currentStep="OPEN">
                </ngx-upload-file>
            </div>
        </div>
        <br>
        <hr>
        <p>Notification Information</p>
        <nb-card>
            <nb-list-item>
                <div class="col-md-3">
                    <input [(ngModel)]="emailNoti" (keyup.enter)="checkMailInformation()" shape="semi-round" type="text"
                        fullWidth nbInput placeholder="Input Email" />
                </div>
                <div class="col-md-3">
                    <input [(ngModel)]="nameNoti" (keyup.enter)="checkMailInformation()" shape="semi-round" type="text"
                        fullWidth nbInput placeholder="Input Name" />
                </div>
                <div class="col-md-2">
                    <input [(ngModel)]="idNoti" (keyup.enter)="checkMailInformation()" shape="semi-round" type="text"
                        nbInput placeholder="Employee ID" />
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-1">
                    <button (click)="checkMailInformation()" nbButton outline status="info">
                        <nb-icon icon="checkmark-outline"></nb-icon>
                    </button>
                </div>
            </nb-list-item>
            <nb-list>
                <nb-list-item *ngFor="let mail of listNotify">
                    <div class="col-md-3">
                        {{ mail.email}}
                    </div>
                    <div class="col-md-3">
                        {{ mail.name }}
                    </div>
                    <div class="col-md-2">
                        {{ mail.empId}}
                    </div>
                    <div class="col-md-3">
                        {{ mail.team}}
                    </div>
                    <div class="col-md-1">
                        <button (click)="removeNoti(mail.email)" nbButton outline status="danger">
                            <nb-icon icon="close-outline"></nb-icon>
                        </button>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </nb-card-body>
    <nb-card-footer>
        <div class="row float-right">
            <div
                [disabled]="issueFormGroup.status == 'VALID' && productFormGroup.status == 'VALID' && obaFormGroup.status == 'VALID'">
                <button *ngIf="!issueFormGroup.value?.issueStatus || issueFormGroup.value?.issueStatus == 'Draft'"
                    class="mr-2" type="submit" (click)="saveDraft()" nbButton status="primary">Save</button>
                <button *ngIf="!issueFormGroup.value?.issueStatus || issueFormGroup.value?.issueStatus == 'Draft'"
                    class="mr-2" type="submit" (click)="submitForm()" nbButton status="danger">Submit</button>
            </div>
            <!-- Must submit before process next step -->
            <button *ngIf="issueFormGroup.value?.issueStatus && issueFormGroup.value?.issueStatus != 'Draft'"
                (click)="next('caca')" nbButton>Process
                <nb-icon icon="arrowhead-right-outline"></nb-icon>
            </button>
        </div>
    </nb-card-footer>
</nb-card>
<ng-container *ngIf="currentStatus == 'caca'">
    <ngx-caca 
        [IssueID]="IssueID" 
        [IssueCreator]="issueFormGroup.value?.createdBy"
        [IssueTitle]="issueFormGroup.value?.title" 
        [ApprovalLv1]="this.currentProcess.approverId_Lv1" 
        [ApprovalLv2]="this.currentProcess.approverId_Lv2"
        (nextStatus)="next($event)" (backStatus)="previous($event)">
    </ngx-caca>
</ng-container>

<ng-container *ngIf="currentStatus == 'capa'">
    <ngx-capa 
        [IssueID]="IssueID" 
        [IssueCreator]="issueFormGroup.value?.createdBy"
        [IssueTitle]="issueFormGroup.value?.title"
        [ApprovalLv1]="this.currentProcess.approverId_Lv1" 
        [ApprovalLv2]="this.currentProcess.approverId_Lv2"
        (nextStatus)="next($event)" (backStatus)="previous($event)">
    </ngx-capa>
</ng-container>

<ng-container *ngIf="currentStatus == 'close'">
    <ngx-close 
        [IssueID]="IssueID"
        [IssueCreator]="issueFormGroup.value?.createdBy"
        [IssueTitle]="issueFormGroup.value?.title" 
        [ApprovalLv1]="this.currentProcess.approverId_Lv1" 
        [ApprovalLv2]="this.currentProcess.approverId_Lv2"
        [IssueProcess]="this.currentProcess.processName"
        (backStatus)="previous($event)"></ngx-close>
</ng-container>