<nb-card>
  <nb-card-header>
    Issue Table

    <!-- <button (click)="testAdweb()" class="float-right" nbButton outline status="danger">
      <nb-icon icon="close-outline"></nb-icon>
    </button> -->
    <!-- <button class="float-right mr-2" nbButton outline status="success" (click)="downloadIssue()">
      <nb-icon icon="download-outline"></nb-icon>
    </button> -->
    <button (click)="newIssue()" class="float-right mr-2" nbButton outline status="primary">New Issue
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <!-- Date range -->
    <div class="text-center">
      <input id="dateRange" autocomplete="off" [(ngModel)]="dateRangeValue" nbInput placeholder="Select date range..." [nbDatepicker]="formpicker" (ngModelChange)="searchByDateRange($event)">
      <nb-rangepicker #formpicker ></nb-rangepicker>
    </div>

    <!-- Show table -->
    <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger" class="display row-border hover cell-border"
      style="width:100%">
      <thead>
        <tr class="table-secondary">
          <th class="no-sort">#</th>
          <th>ISSUE&nbsp;NO</th>
          <th style="min-width: 9rem;">TITLE</th>
          <th>DESCRIPTION</th>
          <th>TYPE</th>
          <th>STEP</th>
          <th>CREATED BY</th>
          <th style="max-width: 8rem;">CREATED DATE</th>
          <th>STATUS</th>
          <th class="no-sort">ACTION</th>
        </tr>
        <!-- </thead> -->
      <tbody *ngIf="issueModel?.length != 0">
        <tr *ngFor="let issue of issueModel;index as i" (click)="selectedRow($event, i)"
          [class.selected]="i === currentRow">
          <td>{{i + 1 + indexTable}}</td>
          <td>{{ issue.issueNo }}</td>
          <td>
            <div style="min-width: 9rem;word-wrap: break-word;">
              {{ issue.title }}
            </div>
          </td>
          <td>
            <div style="max-width: 15rem;word-wrap: break-word;">
              <ngx-tiny-mce-flat *ngIf="issue.failureDesc"
                [rickText]="issue.failureDesc.split(' ', 10).join(' ') + '</p>'">
              </ngx-tiny-mce-flat>
            </div>
          </td>
          <td>{{ issue.processType | uppercase }}</td>
          <td>{{ issue.currentStep | uppercase }}</td>
          <td>{{ issue.createByName }}</td>
          <td>
            <div style="max-width: 8rem;word-wrap: break-word;">
              {{ issue.createdDate | date: 'yyyy/MM/dd HH:mm' }}
            </div>
          </td>
          <td>
            <nb-progress-bar [value]="showIssueStatus(issue.issueStatus)"
              [status]="progressStatus(showIssueStatus(issue.issueStatus))" size="small"><span style="font-size: 0.65rem !important;">{{ issue.issueStatus }}</span>
            </nb-progress-bar>
          </td>
          <td class="text-center">
            <button size="small" (click)="openIssue(issue.id)" nbButton outline status="info">
              <nb-icon icon="book-open-outline"></nb-icon>
            </button>
            <button size="small" (click)="removeIssue(issue.id, issue.processType)" class="float-right" nbButton outline
              status="danger">
              <nb-icon icon="close-outline"></nb-icon>
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="issueModel?.length == 0 || !issueModel">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
      <tbody>
    </table>
  </nb-card-body>
</nb-card>