@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep .form {
    display: flex;
    flex-direction: column;

    .text-label {
      margin-top: 1.5rem;
    }
  }
}

.coo {
  max-height: 31rem;
  min-width: 85rem;
}
.submitClass {
  padding: 0 1rem 0 1rem;
}
.shipFrom {
  width: 30rem;
}

// set size of card item
.accent-info {
  max-height: 20rem;
}
.accent-success {
  max-height: 20rem;
}
.accent-warning {
  max-height: 20rem;
}