<div class="coo">
    <div class="row">
        <div class="col-md-4">
            <nb-card accent="info">
                <nb-card-header>Customer Information</nb-card-header>
                <nb-card-body>
                    <p>SHIP FROM: <b>{{shipFrom}}</b></p>
                    <div *ngFor="let coo of listRemoveDuplicateHscode()">
                        <hr>
                        <p>HS Code: <b>{{coo.harmonizationCode}}</b></p>
                        <hr>
                    </div>
                    <p>{{listRemoveDuplicate()[0].partyName}}</p>
                    <p>{{listRemoveDuplicate()[0].address.split(';')[3]}}</p>
                    <p>{{listRemoveDuplicate()[0].address.split(';')[2]}}</p>
                    <p>{{listRemoveDuplicate()[0].address.split(';')[0]}}
                        {{listRemoveDuplicate()[0].address.split(';')[1]}}</p>
                    <p>{{listRemoveDuplicate()[0].shipToCountryName}}</p>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card accent="success">
                <nb-card-header>Product Description</nb-card-header>
                <nb-card-body>
                    <div *ngFor="let coo of listSelectedDN">
                        <p><b>CELL PHONE {{coo.materialParent}}</b></p>
                        <p>{{coo.materialDesc}}</p>
                        <p>PCS: {{coo.dnqty}}</p>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-5">
            <nb-card accent="warning">
                <nb-card-header>Invoice Informartion</nb-card-header>
                <nb-card-body>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Customer Invoice No</th>
                                <th>Date</th>
                                <th>Invoice Viet Nam Ref</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let coo of listRemoveDuplicate()">
                                <td>{{coo.customerInvoiceNo}}</td>
                                <td>{{coo.actualGidate | date: 'dd.MMM.yyyy' : 'UTC+8'}}</td>
                                <td>{{coo.invoiceNo}}</td>
                                <td>{{coo.planGisysDate | date: 'dd.MMM.yyyy' : 'UTC+8'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card class="inline-form-card">
                <nb-card-body>
                    <div class="row d-flex justify-content-end submitClass">
                        <input class="mr-auto shipFrom" [(ngModel)]="shipFrom" required type="text" nbInput
                            placeholder="Input Ship From">
                        <input type="text" nbInput [(ngModel)]="packageNo" placeholder="Input Package Number" required>
                        <input type="text" class="ml-2" nbInput [disabled]="type !== 'add'" [(ngModel)]="cooNo"
                            placeholder="Input COO Number" required>
                        <button class="ml-2" type="submit" (click)="onSubmit()" nbButton
                            [disabled]="checkValidInput() === false" status="primary">{{type === 'add' ? 'Submit' :
                            'Update'}} </button>
                        <button class="ml-2" nbButton (click)="onExport()" 
                            [disabled]="checkValidInput() === false"
                            outline status="success">Export</button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>