<nb-card accent="info">
  <nb-card-header>
    Approval Information
</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="inputRequestContent" class="label">Comment<i>(Reject required)</i></label>
          <textarea [(ngModel)]="remark" nbInput fullWidth placeholder="more than 20 characters"></textarea>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="text-center">
      <button nbButton status="success" (click)="approval(1)">Approval</button>
      <button 
        nbTooltip="Remark required!" nbTooltipPlacement="top"
        class="ml-2 cancel" nbButton status="danger" (click)="approval(-1)">Reject</button>
    </div>
  </nb-card-footer>
</nb-card>