<nb-card *ngIf="IssueProcess == 'OBA'">
    <nb-card-header>
        Verification Table
        <!-- <button class="float-right" (click)="uploadFile()" nbButton status="info"><nb-icon icon="cloud-upload-outline"></nb-icon></button> -->
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="onCreateConfirm($event)"
            (editConfirm)="onSaveConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)" (keyup)="updateRate()">
        </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
        <!-- <button (click)="openDeadline(dialog)">Submit</button> -->
        <div class="row float-right">
            <button 
                *ngIf="checkPermissionAcion('Initiator')"
                [disabled]="listVerifi.length < 10" (click)="sendMailApproval(approvalLv1)" nbButton status="danger">
                {{ listApproval.length > 0 ? 'Re-submit Approval' : 'Submit Approval'}} <nb-icon icon="navigation-2-outline"></nb-icon>
            </button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card>
    <nb-card-header>
        Approval Information
        <!-- <button class="float-right" (click)="uploadFile()" nbButton status="info"><nb-icon icon="cloud-upload-outline"></nb-icon></button> -->
    </nb-card-header>
    <nb-card-body>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Approver Name</th>
                    <th>Team</th>
                    <th>Status</th> 
                    <th>Remark</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let approval of listApproval; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{approval.approverId}}</td>
                    <td>{{approval.team}}</td>
                    <td>{{approval.action}}</td>
                    <td>{{approval.approverRemark}}</td>
                    <td>{{approval.updatedDate | date: 'yyyy/MM/dd HH:mm'}}</td>
                    <td class="text-center">
                        <button 
                            *ngIf="checkPermissionAcion('Approval')"
                            (click)="openApproval()" outline nbButton status="primary">
                            <nb-icon icon="edit-outline"> Edit</nb-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
    <nb-card-footer>
        <!-- <button (click)="openDeadline(dialog)">Submit</button> -->
        <div class="row d-flex">
            <button (click)="BackStep()" class="mr-auto" nbButton>
                <nb-icon icon="arrowhead-left-outline"></nb-icon>Back
            </button>
            <button 
                *ngIf="checkPermissionAcion('Approval')"
                (click)="openApproval()" class="ml-2" nbButton status="primary">
                Approval
            </button>
            <button class="ml-2" nbButton status="success">
                Report<nb-icon icon="file-text-outline"></nb-icon>
            </button>
        </div>
    </nb-card-footer>
</nb-card>