<nb-card>
  <nb-card-header>
    Bom & Ecus Table
    <button class="float-right" nbButton outline status="success" (click)="downloadBoomEcus()">
      <nb-icon icon="download-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger" class="display row-border hover compact">
      <thead>
        <tr class="table-secondary">
          <th>#</th>
          <th>Plan</th>
          <th>Parent&nbsp;Material</th>
          <th>Level</th>
          <th>Item</th>
          <th><div style="width: 300px;word-wrap: break-word;">Ten&nbsp;Hang</div></th>
          <th>MaHS</th>
          <th>Quantity</th>
          <th>Don&nbsp;Gia</th>
          <th>Country</th>
          <th><div style="width: 120px;word-wrap: break-word;">SoTK</div></th>
          <th>NgayDK</th>
          <th>Alt&nbsp;Group</th>
          <th>Sort&nbsp;String</th>
        </tr>
        <!-- </thead> -->
      <tbody *ngIf="boomEcus?.length != 0">
        <tr *ngFor="let boom of boomEcus;index as i" (click)="selectedRow($event, i)"
          [class.selected]="i === currentRow">
          <td>{{i + 1 + indexTable}}</td>
          <td>{{ boom.plant }}</td>
          <td>{{ boom.parentMaterial }}</td>
          <td>{{ boom.level }}</td>
          <td>{{ boom.item }}</td>
          <td>
            <div style="width: 300px;word-wrap: break-word;">{{ boom.tenHang }}</div>
          </td>
          <td>{{ boom.maHS }}</td>
          <td>{{ boom.quantity }}</td>
          <td>{{ boom.donGiaHd }}</td>
          <td>{{ boom.country }}</td>
          <td><div style="width: 120px;word-wrap: break-word;">{{ boom.soTk }}</div></td>
          <td>{{ boom.ngayDk | date: 'dd/MM/yyyy' }}</td>
          <td>{{ boom.altGroup }}</td>
          <td>{{ boom.sortString }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="boomEcus?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
      <tbody>
    </table>
  </nb-card-body>
</nb-card>