<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Incoming" tabIcon="bell-outline" responsive>
          <div class="row classButton d-flex justify-content-end">
            <button class="mr-2" outline nbButton status="warning" (click)="openCreateCOO()"
              [disabled]="listSelectDN.length === 0">
              <nb-icon icon="plus-outline"></nb-icon>COO&nbsp;&nbsp;
              <div class="badge badge-danger" *ngIf="listSelectDN.length > 0">{{listSelectDN.length}}</div>
            </button>
            <button class="" nbButton outline status="success" (click)="downloadDN()">
              <nb-icon icon="download-outline"></nb-icon>
            </button>
          </div>
          <table datatable id="first-table" [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger"
            class="row-border hover compact">
            <thead>
              <tr class="table-secondary">
                <th>#</th>
                <th class="no-sort"><input type="checkbox" name="websitecheck" (click)="checkuncheckall()"></th>
                <th>Delivery</th>
                <th>Invoice&nbsp;No</th>
                <th>Material&nbsp;Parent</th>
                <th style="width:150px;">Material&nbsp;Desc</th>
                <th>Ship&nbsp;To&nbsp;Country</th>
                <th>HMD&nbsp;Ship Code</th>
                <th style="width:150px;">Party&nbsp;Name</th>
                <th>Customer Invoice&nbsp;No</th>
                <th>Sale Unit</th>
                <th>Actual&nbsp;GI Date</th>
                <th>Net&nbsp;Value</th>
                <th>DN&nbsp;Qty</th>
                <th>Net&nbsp;Price</th>
                <th>Harmonization&nbsp;Code</th>
                <th>Zip&nbsp;Code</th>
                <th style="width:100px;">City</th>
                <th style="width:200px;">Street</th>
                <th style="width:180px;">Adress</th>
                <th>Plant</th>
                <th>Plan&nbsp;GI Date</th>
                <th>Plan&nbsp;GI SysDate</th>
                <th>Inserted Date</th>
                <th>Updated Date</th>
              </tr>
            </thead>
            <tbody *ngIf="dns?.length != 0">
              <tr *ngFor="let dn of dns; index as i" (click)="selectedRow($event, i, dn)"
                [class.selected]="i === currentRow">
                <td>{{i + 1 + indexTable}}</td>
                <td><input type="checkbox" name="websitecheck" [checked]="checkList(dn)"></td>
                <td>{{ dn.delivery}}</td>
                <td>{{ dn.invoiceNo }}</td>
                <td>{{ dn.materialParent }}</td>
                <td>{{ dn.materialDesc }}</td>
                <td>{{ dn.shipToCountryName }}</td>
                <td>{{ dn.hmdShipToCode }}</td>
                <td>{{ dn.partyName}}</td>
                <td>{{ dn.customerInvoiceNo }}</td>
                <td>{{ dn.saleUnit }}</td>
                <td>{{ dn.actualGidate | date: 'dd/MM/yyyy'}} </td>
                <td>{{ dn.netValue }} </td>
                <td>{{ dn.dnqty }} </td>
                <td>{{ dn.netPrice }} </td>
                <td>{{ dn.harmonizationCode }} </td>
                <td>{{ dn.address.split(';')[0] }} </td>
                <td>
                  <div style="width: 100px;word-wrap: break-word;">{{ dn.address.split(';')[1] }}</div>
                </td>
                <td>
                  <div style="width: 200px;word-wrap: break-word;">{{ dn.address.split(';')[2] }}</div>
                </td>
                <td>
                  <div style="width: 190px;word-wrap: break-word;">{{ dn.address.split(';')[3] }}</div>
                </td>
                <td>{{ dn.plant }} </td>
                <td>{{ dn.planGidate | date: 'MM/dd/yyyy'}} </td>
                <td>{{ dn.planGisysDate | date: 'MM/dd/yyyy'}} </td>
                <td>{{ dn.insertedDate | date: 'MM/dd/yyyy'}} </td>
                <td>{{ dn.updatedDate | date: 'MM/dd/yyyy'}} </td>
              </tr>
            </tbody>
            <tbody *ngIf="dns?.length == 0">
              <tr>
                <td colspan="3" class="no-data-available">No data!</td>
              </tr>
            <tbody>
          </table>
        </nb-tab>
        <nb-tab tabTitle="Created" tabIcon="navigation-2-outline" responsive>
          <ngx-dnm [changeValue]="changeValue"
          (openCOO)="openCOOCreated($event)"
          type="created"></ngx-dnm>
        </nb-tab>
        <nb-tab tabTitle="Completed" tabIcon="checkmark-square-outline" responsive>
          <ngx-dnm [changeValue]="changeValue"
          (openCOO)="openCOOCreated($event)"
          type="completed"></ngx-dnm>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>