<div class="row classButton d-flex justify-content-end">
    <button class="mr-2" outline nbButton status="warning" [disabled]="selectedDN === undefined"
        (click)="openCOOCreated()">
        <nb-icon icon="book-open-outline"></nb-icon>COO&nbsp;&nbsp;
    </button>
    <button class="mr-2" nbButton outline status="info" (click)="uploadFile()">
        <nb-icon icon="cloud-upload-outline"></nb-icon>
    </button>
    <button class="mr-2" nbButton outline status="success" (click)="downloadManual()">
        <nb-icon icon="download-outline"></nb-icon>
    </button>
    <button class="" nbButton outline status="danger" [disabled]="selectedDN === undefined" (click)="removeManual()">
        <nb-icon icon="close-outline"></nb-icon>
    </button>
</div>
<table datatable id="second-table" [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger" class="row-border hover compact">
    <thead>
        <tr class="table-secondary">
            <th class="no-sort">#</th>
            <th>
                <div style="width: 180px;word-wrap: break-word;">NAME</div>
            </th>
            <th>CODE</th>
            <th>
                <div style="width: 100px;word-wrap: break-word;">DNN</div>
            </th>
            <th>INVOICE&nbsp;NO</th>
            <th>CUSTOMER INVOICE</th>
            <th>DOC&nbsp;RECEIPT DATE</th>
            <th>COO&nbsp;NO.</th>
            <th>RETURN&nbsp;DATE</th>
            <th>COO FORM</th>
            <th>TRACKING&nbsp;NO</th>
            <th>TRACKING&nbsp;DATE</th>
            <th>COURIER&nbsp;DATE</th>
            <th>SHIP&nbsp;FROM</th>
            <th>PACKAGE</th>
            <th>REMARK</th>
            <th>UPDATED&nbsp;DATE</th>
        </tr>
    </thead>
    <tbody *ngIf="dns?.length != 0">
        <tr *ngFor="let dn of dns; index as i" [class.selected]="i === currentRow" (click)="selectedRow($event, i, dn)"
            (dblclick)="openEdit($event, i, dn, dialog)">
            <td>{{i + 1 + indexTable}}</td>
            <td>
                <div style="width: 180px;word-wrap: break-word;">{{ dn.deliverySales.partyName}}</div>
            </td>
            <td>{{ dn.deliverySales.shipToCountry }}</td>
            <td [style.background-color]="i !== currentRow ? 'rgb(216, 234, 240)' : '#b0bed9'">
                <div style="width: 100px;word-wrap: break-word;">{{ dn.deliverySales.delivery }}</div>
            </td>
            <td>{{ dn.deliverySales.invoiceNo }}</td>
            <td>{{ dn.deliverySales.customerInvoiceNo }}</td>
            <td>{{ dn.receiptDate | date: 'dd/MM/yyyy'}}</td>
            <td [style.background-color]="i !== currentRow ? 'rgb(216, 234, 240)' : '#b0bed9'">{{ dn.coono }}</td>
            <td>{{ dn.returnDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{ dn.cooform }}</td>
            <td>{{ dn.trackingNo }} </td>
            <td>{{ dn.trackingDate | date: 'dd/MM/yyyy'}} </td>
            <td>{{ dn.courierDate | date: 'dd/MM/yyyy'}} </td>
            <td>{{ dn.shipFrom }} </td>
            <td>{{ dn.package }} </td>
            <td>{{ dn.remarkDs}} </td>
            <td>{{ dn.updatedDate | date: 'dd/MM/yyyy'}} </td>
        </tr>
    </tbody>
    <tbody *ngIf="dns?.length == 0">
        <tr>
            <td colspan="3" class="no-data-available">No data!</td>
        </tr>
    <tbody>
</table>


<ng-template #dialog let-data let-ref="dialogRef">
    <form [formGroup]="cooFormGroup" novalidate autocomplete="off">
        <nb-card accent="info" size="medium" style="min-height: 30rem;">
            <nb-card-header>Update COO Manual Information</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" nbInput fullWidth status="info" shape="semi-round" tabIndex="-1"
                            value="NAME: {{selectedDN.deliverySales.partyName}}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" nbInput fullWidth status="info" shape="semi-round" tabIndex="-1"
                            value="DN: {{selectedDN.deliverySales.delivery}}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" nbInput fullWidth status="info" shape="semi-round" tabIndex="-1"
                            value="COO: {{selectedDN.coono}}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputTrackingNo" class="label">Tracking No</label>
                            <input type="text" nbInput fullWidth id="inputTrackingNo" placeholder="Tracking No"
                                formControlName="trackingNo">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputTrackingDate" class="label">Tracking Date</label>
                            <input [nbDatepicker]="inputTrackingDate" [(ngModel)]="cooFormGroup.value.trackingDate"
                                nbInput fullWidth id="inputTrackingDate" placeholder="Choose Date"
                                formControlName="trackingDate">
                            <nb-datepicker #inputTrackingDate></nb-datepicker>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputCourierDate" class="label">Courier Date</label>
                            <input [nbDatepicker]="inputCourierDate" [(ngModel)]="cooFormGroup.value.courierDate"
                                nbInput fullWidth id="inputCourierDate" placeholder="Choose Date"
                                formControlName="courierDate">
                            <nb-datepicker #inputCourierDate></nb-datepicker>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputReceptDate" class="label">Doc Recept Date</label>
                            <input [nbDatepicker]="inputReceiptDate" [(ngModel)]="cooFormGroup.value.receiptDate"
                                nbInput fullWidth id="inputReceiptDate" placeholder="Choose Date"
                                formControlName="receiptDate">
                            <nb-datepicker #inputReceiptDate></nb-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputReturnDate" class="label">Return Date</label>
                            <input [nbDatepicker]="inputReturnDate" [(ngModel)]="cooFormGroup.value.returnDate" nbInput
                                fullWidth id="inputReturnDate" placeholder="Choose Date" formControlName="returnDate">
                            <nb-datepicker #inputReturnDate></nb-datepicker>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputReturnTime" class="label">Return Time</label>
                            <input type="text" nbInput fullWidth id="inputReturnTime" placeholder="Format: 00:00"
                                class="form-control" formControlName="returnTime">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label for="inputCooform" class="label">COO Form</label>
                            <input type="text" nbInput fullWidth id="inputCooform" placeholder="Form"
                                class="form-control" formControlName="cooform">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputShipFrom" class="label">Ship From</label>
                            <input type="text" nbInput fullWidth id="inputShipFrom" placeholder="Ship From"
                                class="form-control" formControlName="shipFrom">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputPackage" class="label">Package</label>
                            <input type="text" nbInput fullWidth id="inputPackage" placeholder="Package"
                                class="form-control" formControlName="package">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputRemark" class="label">Remark</label>
                            <input type="text" nbInput fullWidth id="inputRemark" placeholder="Remark"
                                class="form-control" formControlName="remark">
                        </div>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="d-flex justify-content-end">
                    <button class="mr-2" type="submit" (click)="submitEdit(ref)" nbButton status="primary"
                        [disabled]="cooFormGroup.status=='INVALID'">Submit</button>

                    <button nbButton (click)="ref.close()">Close</button>
                </div>
                <!-- <p>
                    {{cooFormGroup.value | json}}
                </p> -->
            </nb-card-footer>
        </nb-card>
    </form>
</ng-template>